In [1]:
import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import Error
from datetime import datetime
import env
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
def run_query(sql_name):
    # Connect to the MySQL database (replace the placeholders with your actual credentials)
    host = env.db_host
    user = env.db_user
    password = env.db_password
    database = env.db_schema
    port = 33144

    # Create a connection to the database
    connection = mysql.connector.connect(host=host, user=user, password=password, database=database, port=port)

    # Create a cursor object to execute the SQL query
    cursor = connection.cursor()

    # Define the SQL query
    current_dir = f"./"
    file_path = f'{current_dir}{sql_name}'

    # Read the content of the file into a variable
    with open(file_path, 'r') as file:
        query = file.read()

    # Execute the query
    cursor.execute(query)

    # Fetch all the results into a list of tuples
    results = cursor.fetchall()

    # Get the column names from the cursor description
    columns = [col[0] for col in cursor.description]

    # Close the cursor and the connection
    cursor.close()
    connection.close()

    # Create a DataFrame from the results and column names
    df = pd.DataFrame(results, columns=columns)
    return df

In [3]:
bki_df = run_query("queries/DATASET_BKI.sql")
bki_df.set_index(['reco_id_curr'], inplace=True)

In [6]:
print(len(bki_df))
bki_df.to_csv("dataset/DATASET_BKI.csv")

338866

In [7]:
bki_df = pd.read_csv("dataset/DATASET_BKI.csv")
pd.set_option('display.max_rows', 500)
bki_df.describe()

,days_credit,credit_day_overdue,days_credit_enddate,days_enddate_fact,credit_limit_max_overdue,credit_prolong_count,credit_sum,credit_sum_debt,credit_sum_limit,credit_sum_overdue,days_credit_update,annuity_payment
count,338866.000000,338866.00000,338866.000000,338866.000000,3.388660e+05,338866.000000,3.388660e+05,3.388660e+05,3.388660e+05,3.388660e+05,338866.000000,3.388660e+05
mean,-1140.075304,0.95034,437.351773,-643.608943,1.182476e+03,0.007144,3.140744e+05,1.027263e+05,4.060766e+03,3.070675e+01,-601.584809,3.477316e+03
std,799.381575,40.17249,4843.039939,750.419832,3.712291e+04,0.101828,7.859205e+05,5.535188e+05,3.421420e+04,5.562517e+03,728.763391,1.204669e+05
min,-2922.000000,0.00000,-42060.000000,-2919.000000,0.000000e+00,0.000000,0.000000e+00,-1.354880e+06,-3.163920e+05,0.000000e+00,-41946.000000,0.000000e+00
25%,-1663.000000,0.00000,-1089.000000,-1084.000000,0.000000e+00,0.000000,4.912650e+04,0.000000e+00,0.000000e+00,0.000000e+00,-907.000000,0.000000e+00
50%,-985.000000,0.00000,-268.000000,-357.000000,0.000000e+00,0.000000,1.154250e+05,0.000000e+00,0.000000e+00,0.000000e+00,-413.000000,0.000000e+00
75%,-469.000000,0.00000,330.000000,0.000000,0.000000e+00,0.000000,2.700000e+05,7.182000e+01,0.000000e+00,0.000000e+00,-34.000000,0.000000e+00
max,0.000000,2792.00000,31198.000000,0.000000,1.314450e+07,6.000000,6.220300e+07,6.457020e+07,2.045370e+06,2.387230e+06,372.000000,5.747620e+07